body {
	font-family: "PT Sans", "Arial", sans-serif;
	min-width: 1110px;
	background-color: azure;
}
* {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
header {
	background-color: aliceblue;
}
hr {
	height: 1px;
	color:slateblue;
	background-color:slateblue;
}
.head__container {
	width: 700px;
	margin: 0 auto;
	display: flex;
}
.head__container ul {
	margin-left:140px;
	padding-top:35px;
	display: flex;
}
.head__container li a {
	padding:8px;
	color: slateblue;
	font-size: 24px;
	margin-right:60px;
	cursor:pointer;
	border:2px solid aliceblue;
}
.head__container li a:hover {
	background-color: yellow;
	color: darkblue;
	border: gold solid 2px ;
	border-radius: 25px;
}
.main__add {
	background-color: azure;
}
.main__add-container {
	text-align: center;
}
.main__add #name {
	margin-top: 30px;
	padding:10px;
	width:400px;
	height: 20px;
	font-size: 12px;
	font-weight: 400;
	color: darkblue;
	background: aliceblue;
	border-radius: 0px;
	border:1px solid blue;
}
.main__add #preview {
	margin-top: 10px;
	padding:10px;
	width:400px;
	height: 20px;
	font-size: 12px;
	color: darkblue;
	background: aliceblue;
	border-radius: 0%;
	border:1px solid blue;
}
.main__add #desc {
	margin-top:10px;
	padding:10px;
	width:400px;
	height: 80px;
	font-size: 12px;
	color: darkblue;
	background: aliceblue;
	border-radius: 5px;
	border:1px solid blue;
}
.main__add #author {
	margin-top: 10px;
	width: 100px;
	color: darkblue;
	background: aliceblue;
	border-radius: 0px;
	border:1px solid blue;
}
.main__add #image {
	margin-top: 10px;
	color: darkblue;
	cursor:pointer;
}
.main__add #likes {
	margin-left:0px;
	margin-top: 20px;
	width: 700px;
	margin-bottom:10px;
	background: aliceblue;
	border:1px solid blue;
}
.main__add--text-like {
	margin-bottom:-40px;
	padding-top:20px;
	margin-right:100px;
}
.main__add-container p {
	color: darkblue;
	font-size: 14px;
}
.main__add #send {
	margin-top: 10px;
	width: 200px;
	height: 45px;
	background-color: gold;
	color: black;
	font-size: 16px;
	border-radius: 10px;
	border: 1px solid goldenrod;
	cursor: pointer;
	margin-bottom:20px;
}
.main__add #send:hover {
	background-color: yellow;
	border-color: yellow;
}
.main__add #send:active {
	background-color: greenyellow;
	border-color: greenyellow;
}
.main__slide
{
	background-color: azure;
	text-align: center;
	padding-bottom:20px;
}
.main__slide-news {
	width: 1110px;
	margin:0 auto;
}
.main__slide-news h1 {
	color:slateblue;
	padding-top: 30px;
	text-align: center;
	text-transform: uppercase;
}
.main__slide-news ul {
	padding-top:20px;
	margin:0;
}
.main__slide-news li {
	margin-bottom:30px;
}
.main__slide-news button {
	display: flex;
	border:1px solid gold;
	border-radius: 5px;
	padding:10px;
	margin-left:150px;
	cursor:pointer;
	width: 800px;
	height: 160px;
	background-color: white;
}
.main__slide-news a {
	display: flex;
	outline: none;
}
.main__slide-news button:hover {
	background-color: gold;
	border:none;
}
.main__slide-news--image img {
	width:auto;
	max-height: 140px;
}
.main__slide-news--card {
	text-align: right;
	display:block;
	width: 400px;
	height: 140px;
}
.main__slide-news--name {
	margin-left:80px;
	width: 400px;
	padding-top:20px;
	color: darkslateblue;
}
.main__slide-news--preview {
	width:450px;
	margin-left:50px;
	padding-top:20px;
	color: grey;
	text-align: justify-all;
}
.main__new {
	background-color: azure;
	padding-top:20px;
}
.main__new-container {
	width:1110px;
	margin: 0 auto;
}
.main__new--name {
	color: blue;
	text-align: center;
}
.main__new--image {
	 text-align: center;
 }
.main__new--image img {
	margin-top:20px;
	width:auto;
	max-width: 700px;
}
.main__new--description {
	white-space: pre-wrap;
	font-size:18px;
	color: darkslateblue;
}
.main__new--date {
	text-align: right;
	color: coral;
}
.main__new--information {
	display: inline-flex;
	margin-bottom:20px;
}
.main__new--viewers p {
	margin-left:700px;
}
.main__new-like {
	margin-top:10px;
	display: inline-block;
	margin-left:30px;
	margin-bottom:10px;
}
.main__new-like--card {
	display: flex;
	width: 300px;
	height: 100px;
	margin-bottom:10px;
}
.main__new-like button {
	margin-right:20px;
	border:1px solid gold;
	background-color: white;
	border-radius: 5px;
}
.main__new-like button:hover {
	background-color: gold;
}
.main__new-like--image img {
	padding:10px;
	max-height: 80px;
	width: auto;
}
.main__new-like--name p {
	padding-top:10px;
	font-size:12px;
	color: black;
	text-align: left;
	padding-left:5px;
}
footer {
	text-align: center;
	background-color: azure;
}
footer h2 {
	padding-top:10px;
	font-size: 12px;
	font-weight: 400;
	color: red;
	padding-bottom:10px;
}
.main__error {
	text-align: center;
	margin-top:100px;
}
.main__error p {
	color: darkblue;
	font-size: 20px;
}
.main__error strong {
	padding-left:20px;
	text-align: center;
	color:crimson;
	font-size: 40px;
}
.clear {
	border:2px solid blueviolet;
	color:white;
	background-color: darkblue;
	border-radius:50px;
	padding:15px 15px;
	font-size: 18px;
	cursor:pointer;
}
.clear:hover{
	border:2px solid darkblue;
	background-color: crimson;
}
.clear:active{
	border:2px solid blueviolet;
	background-color: darkred;
}